apiVersion: v1
kind: Service
metadata:
  name: api-gateway
  namespace: lab2-microservices
spec:
  type: NodePort
  selector:
    app: api-gateway
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8000
      nodePort: 30007
