apiVersion: apps/v1
kind: Deployment
metadata:
  name: ai-service
  namespace: lab2-microservices
  labels:
    app: ai-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ai-service
  template:
    metadata:
      labels:
        app: ai-service
    spec:
      containers:
        - name: ai-service
          image: lilarin/ai-service:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8000
          env:
            - name: GOOGLE_API_KEY
              valueFrom:
                secretKeyRef:
                  name: ai-secrets
                  key: GOOGLE_API_KEY
            - name: API_GATEWAY_URL
              value: "http://api-gateway/api/v1"
          resources:
            requests:
              cpu: "200m"
              memory: "256Mi"
            limits:
              cpu: "500m"
              memory: "512Mi"
