apiVersion: apps/v1
kind: Deployment
metadata:
  name: mcp-server
  namespace: lab2-microservices
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mcp-server
  template:
    metadata:
      labels:
        app: mcp-server
    spec:
      containers:
        - name: mcp-server
          image: lilarin/mcp-server:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 8000
          env:
            - name: API_GATEWAY_URL
              value: "http://api-gateway/api/v1"
            - name: GOOGLE_API_KEY
              valueFrom:
                secretKeyRef:
                  name: ai-secrets
                  key: GOOGLE_API_KEY
---
apiVersion: v1
kind: Service
metadata:
  name: mcp-server
  namespace: lab2-microservices
spec:
  selector:
    app: mcp-server
  ports:
    - protocol: TCP
      port: 8000
      targetPort: 8000